<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>neighborhood-sendcode-service</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>neighborhood-sendcode-service</th>
				<th>url</th>
				<th>request</th>
				<th>response</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>发送邮件验证码</td>
				<td>/sendcode/sendMsg</td>
				<td>{"email":email}</td>
				<td>{"hash":hash,"time":time}</td>
			</tr>
			<tr>
				<td>验证码验证</td>
				<td>/sendcode/validateCode</td>
				<td>{"time":time,"hash":hash,"code":code}</td>
				<td>{"result":"success/error/overdue"}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>