<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title> 请填写注册信息</title>
</head>
<body>
<form action="index.html" method="post">
    <table style="text-align: right;">
      <tr>
        <td>用户名：</td>
        <td><input type="text" name="userName" placeholder="由英文字母和数字组成的4-16位字符，以字母开头">
        </td>
      </tr>
      <tr>
        <td>昵称：</td>
        <td><input type="text" name="nickName" placeholder="由2-6个汉字组成">
        </td>
      </tr>
      <tr>
        <td>邮箱：</td>
        <td><input type="text" name="email" placeholder="邮箱账号@域名。如good@tom.com、whj@sina.com.cn">
        </td>
      </tr>
      <tr>
        <td>密码：</td>
        <td><input type="password" name="pwd" placeholder="由英文字母和数字组成的4-10位字符">
        </td>
      </tr>
      <tr>
        <td>确认密码：</td>
        <td><input type="password" name="pwd2" placeholder="确认密码">
        </td>
      </tr>
      <tr>
        <td>手机号码：</td>
        <td><input type="text" name="phone" placeholder="手机号由11位数字组成，且以13,15,18开头">
        </td>
      </tr>
      <tr>
        <td>出生日期：</td>
        <td><input type="text" name="date" placeholder="出生日期在1990-2009之间">
      </tr>
      <tr>
        <td colspan="2" align="left"><input type="button" name="submit" id="submit" value="提交"></td>
      </tr>
    </table>
  </form>
</body>
</html>

<script type="text/javascript">
    document.querySelector("#submit").onclick = function () {
        var ajax = new XMLHttpRequest();
 
        // 使用post请求
        ajax.open('post','ajax_post.php');
 
        // 如果 使用post发送数据 必须 设置 如下内容
        // 修改了 发送给 服务器的 请求报文的 内容
        // 如果需要像 HTML 表单那样 POST 数据，请使用 setRequestHeader() 来添加 HTTP 头。然后在 send() 方法中规定您希望发送的数据：
        ajax.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        // 发送
        // post请求 发送的数据 写在 send方法中
        // 格式 name=jack&age=18 字符串的格式
        ajax.send('name=jack&age=998');
 
        // 注册事件
        ajax.onreadystatechange = function () {
            if (ajax.readyState==4&&ajax.status==200) {
                console.log(ajax.responseText);
            }
        }
    }
</script>
function sendCaptcha(tel) {    

       console.log("sendCaptcha: tel = " + tel);    

       $.ajax({    

           type: 'post',    

           url: '/sms/captcha/' + tel,    

           dataType: "json",    

           success: function (data) {    

               console.log("sendCaptcha ==> success: data = " + eval(data));    

               if (data) {    

                   countdown();    

                   b_code = false;    

               } else {    

                   alert("您发送的频率过快!");    

               }    

           },    

           error: function (data) {    

               console.log("sendCaptcha ==> error: data = " + eval(data));    

               alert("网络超时");    

               clearTimeout(t);    

               b_code = true;    

               var msg = "获取验证码";    

               $("#code").text(msg);    

               c = 60;    

           }    

       });    

   } 